<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Board</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>
	<body>
		<div class="board-page">
			<div class="board">
                <h1>새글 등록</h1>
                <div class="board-form">
                    <input id="board_title" type="text" placeholder="제목"/>
                    <textarea id="board_content" rows="10" placeholder="내용"></textarea>
                </div>
				<div align="right">
                    <button id="btn_board_register">새글 등록</button>
                    <button id="btn_board_list">목록</button>
                </div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="/javascripts/board.js"></script>
	</body>
</html>