<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Signup Form</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>
	<body>
        <div id="" class="signup-page">
            <div class="form">
                <input id="user_name" type="text" placeholder="user name"/>
                <input id="login_id" type="text" placeholder="user id"/>
                <button id="btn_check_id" class="button">Check ID</button>
                <input id="login_pwd" type="password" placeholder="user password"/>
                <input id="confirm_pwd" type="password" placeholder="confirm password"/>
                <input id="email" type="text" placeholder="email"/>
                <button id="btn_signup" class="button">CREATE</button>
                <p id="message" class="message"></p>
                <p class="message"><a href="/">Cancel</a></p>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="/javascripts/signup.js"></script>
	</body>
</html>